{{set . "Title" "About Save This Life | Save This Life Microchip and Pet Recovery System"}}
{{set . "KeyWords" "About Save This Life"}}
{{set . "Description" "What if there were a way to do a quick Google™ search to help you find your lost pet? Save This Life has patented a recovery system to do exactly that!  "}}
{{set . "Canonical" "about-us"}}
{{template "header.html" .}}
  <div class="enigma_header_breadcrum_title">	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Save This Life</h1>
				<!-- BreadCrumb -->
                <ul class="breadcrumb">
                <li data-original-title="" title=""><a href="/">Home</a></li> 
                <li data-original-title="" title="">About Save This Life</li></ul>                <!-- BreadCrumb -->
			</div>
		</div>
	</div>	
</div>
  <section style="width:100%; float:left;">
    <div class="container">
      <div class="row enigma_blog_wrapper">
        <div class="col-md-10 full-width">
          <div class="enigma_blog_full">
            <div class="enigma_blog_thumb_wrapper_showcase">
              <div class="enigma_blog-img"> <img width="1170" height="350" alt="Microchip Recovery" class="attachment-wl_pageff_thumb size-wl_pageff_thumb wp-post-image" src="/public/img/can-you-google-pet.png"> </div>
            </div>
            <div class="enigma_blog_post_content">
              <h2 style="text-align: left;">What if there were a way to do&nbsp;a quick Google&trade;&nbsp;search to help you find your lost pet?</h2>
              <h2 style="text-align: left;">Save This Life has patented a recovery system to do exactly that!</h2>
              <p>&nbsp;</p>
              <p>Save This Life's innovative technology has revolutionized the pet recovery process. The leader of Save This Life a former rescuer who developed a superior method of helping lost pets find their way home safely. Chance White patented this unprecedented pet recovery system. This system answered the call unlike the standard microchip companies with their lack of technology.</p>
              <p>The standard pet recovery systems require the microchip number to be read by a scanner or from an animal identification tag and then called into one of many microchip databases. A participating company's operator then attempts to connect the pet finder and pet owner by telephone. Obvious problems that arise here are illegible tags, the inability to connect the finder and owner by telephone, the exhausting search through multiple companies' registries to find the correct registry, the inability to find the pet owner in the database because the annual fee is not paid or contact information is not current, among others.</p>
              <p>Save This Life has invented a way to utilize a quick Google™ search to eliminate all of these issues.</p>
              <p>Each Save This Life microchip number is TEXTable and/or a Google™ searchable. When someone finds a pet and texts the number to 855-777-2447 or performs a quick Google™ search of the microchip number, they are able to privately contact the pet owner with a text message and an email. Most importantly, the pet owner receives a GPS map, powered by Google Maps™ of the actual location where their pet has been found.</p>
              <p>Each Save This Life microchip comes with an aluminum, machine stamped ID tag:</p>
              <p>“Google™  this #
              (microchip number ex 99100XXXXXXXXXX) to find my family".
                </p>
              <p>As opposed to a cheap plastic/rubber ink stamped tag or a tag with no microchip number on it, like our competitors.              </p>
              <p>The microchips themselves are 134.2 kHz ISO compliant readable by all universal scanners. Each microchip is embedded in a bio-thermal glass encapsulation and coated with Parylene C, which prevents migration, then loaded into a 2-finger non-slip grip applicator, which allows for easier implantation. The syringe needle is laser-beveled for maximum sharpness, minimizing discomfort for the pet.</p>

              <p>There are no annual fees for platinum owners once registered, and no fees to update information or transfer pet owners. Our services are available 24/7/365.</p>
              <p>For Diamond members* once upgraded, you will receive a dedicated pet recovery specialist who will personally assist you in the pet recovery process (AKA establishing phone calls, sending out free Lost Pet Alerts to the shelters and rescues within a 25 mile radius of where a lost pet was last seen and a Lost Pet Alert Poster to the pet owner).</p>

              <p>In addition, 30 days of Accidental and Illness Medical Insurance is included with each Diamond and Platinum microchip. Each pet receives coverage for up to $1000 in care for accidents and emergencies that may occur.</p>
              <p>Save This Life microchips are exclusively distributed by Covetrus, the largest veterinary distribution company in the world.</p>

              <p>&nbsp;</p>
              <p><span style="color: #000000;">&copy; 2022 Google Inc. All rights reserved.&nbsp;Google&trade;&nbsp;<span style="color: ##444444;">s</span>earch&nbsp;and&nbsp;G<wbr></wbr>oogle Maps<span style="font-family: 'Avenir LT W01_55 Roman1475520', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;">&trade;</span>&nbsp;are registered trademarks of Google Inc.</span></p>
              <div><span style="color: #000000;">&nbsp;</span></div>
            </div>
          </div>
          <div class="push-right">
            <hr class="blog-sep header-sep">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section --> 

{{template "footer.html" .}}

</body>
</html>