{{set . "Title" "Contact Us | Save This Life Microchip and Pet Recovery System"}}
{{set . "KeyWords" "Contact Us"}}
{{set . "Description" ""}}
{{set . "Canonical" "contact-us"}}
{{template "header.html" .}}
  <div class="enigma_header_breadcrum_title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Contact us</h1>
          <!-- BreadCrumb -->
          <ul class="breadcrumb">
            <li data-original-title="" title=""><a href="/">Home</a></li>
            <li data-original-title="" title="">Contact Us</li>
          </ul>
          <!-- BreadCrumb --> 
        </div>
      </div>
    </div>
  </div>
  <section style="width:100%; float:left;">
    <div class="container">
      <div class="row enigma_cotact_form_div">
        <div class="col-md-12">
          <div class="enigma_heading_title">
            <h3>Get in touch with us</h3>
          </div>
        </div>

        <div class="col-md-6 enigma_contact_form_fields">
          <div id="weblizar_form">
            <div lang="en-US" dir="ltr" id="wpcf7-f260343-o1" class="wpcf7" role="form">
              
              {{template "loading-error-success" .}}
              
              <form novalidate="novalidate" class="wpcf7-form poster" method="post" action="/contact-us">
                <div style="display: none;">
                  <input type="hidden" value="260343" name="_wpcf7">
                  <input type="hidden" value="4.7" name="_wpcf7_version">
                  <input type="hidden" value="en_US" name="_wpcf7_locale">
                  <input type="hidden" value="wpcf7-f260343-o1" name="_wpcf7_unit_tag">
                  <input type="hidden" value="7184ed90ef" name="_wpnonce">
                </div>
                <div class="enigma_form_group">
                  <label for="exampleInputEmail1">Name<small>*</small></label>
                  <br>
                  <span class="wpcf7-form-control-wrap text-897">
                  <input type="text" placeholder="Your name" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required enigma_con_input_control" size="40" value="" name="name">
                  </span> </div>
                <div class="enigma_form_group">
                  <label for="exampleInputPassword1">Phone Number<small>*</small></label>
                  <br>
                  <span class="wpcf7-form-control-wrap phone">
                  <input type="tel" placeholder="Your phone number" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel enigma_con_input_control" size="40" value="" name="phone">
                  </span> </div>
                <div class="enigma_form_group">
                  <label for="exampleInputPassword1">Email<small>*</small></label>
                  <br>
                  <span class="wpcf7-form-control-wrap email-886">
                  <input type="email" placeholder="Your email" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email enigma_con_input_control" size="40" value="" name="email">
                  </span> </div>
                <div class="enigma_form_group">
                  <label for="exampleInputSubject">Subject<small>*</small></label>
                  <br>
                  <span class="wpcf7-form-control-wrap subject">
                  <input type="text" placeholder="Subject" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required enigma_con_input_control" size="40" value="" name="subject">
                  </span> </div>
                <div class="enigma_form_group">
                  <label for="exampleInputMicrochip">Microchip#</label>
                  <br>
                  <span class="wpcf7-form-control-wrap microchip">
                  <input type="text" placeholder="Microchip#" aria-invalid="false" aria-required="true" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required enigma_con_input_control" size="40" value="" name="microchip">
                  </span><br>
                  <span style="color:#eb088b;"><i>If your inquiry is related to a microchip number, please include the microchip number in question so that we may better assist you.</i></span> </div>
                <div class="enigma_form_group">
                  <label for="exampleInputPassword1">Message</label>
                  <br>
                  <span class="wpcf7-form-control-wrap textarea-91">
                  <textarea placeholder="Your message" aria-invalid="false" class="wpcf7-form-control wpcf7-textarea enigma_con_textarea_control" rows="10" cols="40" name="message"></textarea>
                  </span> </div>

                <div class="enigma_form_group">
                  <div class="g-recaptcha" data-sitekey="{{.SiteKey}}"></div>
                </div>
                
                <p>
                  <input type="submit" class="wpcf7-form-control wpcf7-submit enigma_send_button" value="Send">
                  <span class="ajax-loader"></span></p>
                <div class="wpcf7-response-output wpcf7-display-none"></div>
              </form>
            </div>
          </div>
          <div style="display:none;" id="enquiry_send_massage">
            <div class="callout-box callout-box2 clearfix">
              <div class="callout-content">
                <h2>Query successfully submit</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 enigma_contact_info">
          <ul>
            <li data-original-title="" title=""> <i class="fa fa-phone"></i><span class="text"> <span class="desc">Phone Number</span> 
              855-777-2447</span> </li>
            <li data-original-title="" title=""> <i class="fa fa-envelope"></i><span class="text"> <span class="desc">GENERAL INFO</span> support@savethislife.com </span> </li>
            <!-- <li data-original-title="" title=""> <i class="fa fa-map-marker"></i><span class="text"> <span class="desc">UK Toll-Free</span> 0-800-088-5525 </span> </li> -->
          </ul>
        </div>
      </div>
    </div>
  </section>
  <div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section -->
{{template "footer.html" .}} 

</body>
</html>



{{define "loading-error-success"}}
<div class="">
  <center><img alt="loading" class="js-loading" src="/public/img/ajax-loader.gif" title="loading..." style="display:none;"  /></center>

  <div class="js-error-container" style="display:none;">
      <div class="panel panel-danger" style="color:red;">
          <div class="panel-heading"><h7>Error</h7></div>
          <div class="panel-body">
              <div class="js-error-text"></div>
          </div>
      </div>
  </div>

  <div class="js-success-container" style="display:none;">
      <div class="panel panel-success" style="color:green;">
          <div class="panel-heading"><h7>Success</h7></div>
          <div class="panel-body">
              <div class="js-success-text"></div>
          </div>
      </div>
  </div>
</div>
{{end}}