{{set . "Title" "FAQ | Save This Life Microchip and Pet Recovery System"}}
{{set . "KeyWords" "FAQ"}}
{{set . "Description" "A microchip is a passive transponder device implanted beneath an animal’s skin which contains a unique series of characters used to identify an animal if it’s"}}
{{set . "Canonical" "frequently-asked-questions"}}
{{template "header.html" .}}
  <div class="enigma_header_breadcrum_title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>FAQ</h1>
          <!-- BreadCrumb -->
          <ul class="breadcrumb">
            <li data-original-title="" title=""><a href="/">Home</a></li>
            <li data-original-title="" title="">FAQ</li>
          </ul>
          <!-- BreadCrumb --> 
        </div>
      </div>
    </div>
  </div>
  <section style="width:100%; float:left;">
    <div class="container">
     <div class="row enigma_blog_wrapper">
  <div class="col-md-8">
    <div class="enigma_blog_full">
      <div class="enigma_blog_post_content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is a microchip?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        A microchip is a passive transponder device implanted beneath an animal's skin which contains a unique series of characters used to identify an animal if it's lost. A microchip is about the size of a grain of rice and is administered similarly to a vaccine , using a syringe.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         My pet already has a microchip. Why do I need to register my pet with Save This Life?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Most pet owners do not realize that many microchip companies demand an annual fee to keep their pets updated in their systems. Our registration is a one time lifetime fee that protects your animal for its life. Without registration, the microchip is useless since it is not linked to your contact information',Implanting a microchip is essentially the same as administering a vaccine. So while your pet may feel a little pinch, any pain should be over very quickly.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
   Does a microchip hurt?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       Once the microchip has been inserted, your pet won't even know it's there.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
  My pet wears an ID tag every day. Why do I need to have him microchipped?
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
      <div class="panel-body">
       It's important for your pet to have a permanent form of identification. A collar and ID tags are not considered permanent ID. Lost pets frequently end up in shelters after their collars come off. If this happens your pet can still be identified by the microchip since it is embedded beneath its skin.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingfive">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
   How does a microchip work? Is it like a GPS?
        </a>
      </h4>
    </div>
    <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive">
      <div class="panel-body">
       
A microchip implant is an identifying integrated circuit placed under the skin of an animal. The microchip, about the size of a grain of rice, is administered similarly to a vaccine using a syringe, and uses passive RFID (Radio Frequency Identification) technology.

Animal shelters, animal control officers and veterinarians routinely look for microchips to return lost pets quickly to their owners, avoiding expenses for housing, food, medical care and euthanasia. Many shelters place microchips in all adopted animals.
Each Save This Life microchip number is searchable in popular search engines like Google. When someone finds a pet and searches the microchip number, they are able to privately contact the pet owner with a text message and an email. The pet owner receives a GPS map powered by Google Maps™ of where the person who found their pet is actually located. Microchips are not a GPS system, the online recovery system uses geo-tracking to locate the user when they send an alert.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingsix">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
   Want to check if your pet's microchip number is registered?
        </a>
      </h4>
    </div>
    <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
      <div class="panel-body">
        Please click <a href="https://www.savethislife.com/lost-found-pet">here</a>, enter your pet's microchip number and click search. If a result is found then it is registered, else it is not and you can register it
        <a href="https://po.savethislife.com/signup">here</a>.
      <!-- Provide your pet's microchip number, phone number and email address. <a href="/contact-save-this-life?id=1" style="color:red">Provide information here</a>. </div> -->
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingseven">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
  Report Lost/Found Pet
        </a>
      </h4>
    </div>
    <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
      <div class="panel-body">
       Provide a description of the pet, where it was seen, the microchip number, your phone number and email address. <a href="/contact-save-this-life?id=2" style="color:red">Provide information here</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingeight">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
 Issues logging in? Never received your login email?
        </a>
      </h4>
    </div>
    <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
      <div class="panel-body">
Please go here https://po.savethislife.com/forgot-password, enter the microchip number and you will receive a link to reset your username and password. If that is not helping then 
 please provide your pet's microchip number, the email address on the account and your phone number. <a href="/contact-save-this-life?id=3" style="color:red">Provide information here</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingnine">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsenine" aria-expanded="false" aria-controls="collapsenine">
Need to combine multiple pets under one account?
        </a>
      </h4>
    </div>
    <div id="collapsenine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingnine">
      <div class="panel-body">
Provide your pets' microchip numbers, the email address on the accounts and your phone number. <a href="/contact-save-this-life?id=4" style="color:red">Provide information here</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTen">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
How do I make my pet's information appear on their public search post?
        </a>
      </h4>
    </div>
    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
      <div class="panel-body">
If you would like your pet's information posted on your pet's public post, please provide your microchip number, email and phone number. Species, Breed, Gender, Color, Health Issues and picture (if it has been added to their profile) will be posted. Many pet owners do not want their pet's information publicly displayed, so we do not automatically post that information in order to protect their privacy. Remember, all of your owner information is never displayed to the public.      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <div class="push-right">
      <hr class="blog-sep header-sep">
    </div>
  </div>
  <div class="col-md-4 enigma-sidebar">
    <div class="enigma_sidebar_widget">
      <div class="textwidget">Enter only the 9, 10 or 15 character microchip number, with no punctuation or spaces. Do not include the microchip type code or manufacturer's name or abbreviation.</div>
    </div>
    <div class="enigma_sidebar_widget">
      <div class="enigma_sidebar_widget_title">
        <h2>SEARCH ANY MICROCHIP</h2>
      </div>
      <div class="input-group">
        <form action="https://www.savethislife.com/" id="searchform" method="post">
          <input type="text" placeholder="What do you want to find?" id="s" name="s" class="form-control">
          <span class="input-group-btn">
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
          </span>
        </form>
      </div>
    </div>
    <div class="enigma_sidebar_widget">
      <div class="enigma_sidebar_widget_title">
        <h2>Lost / Found Pet</h2>
      </div>
      <div class="textwidget"><span style="color:#F00; font-weight:bold">855-777-CHIP<br>
        855-777-2447</span></div>
    </div>
    
  </div>
</div>

    </div>
  </section>
  <div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section --> 

{{template "footer.html" .}}

</body>
</html>