  <!-- Footer Widget Secton -->
  <div class="enigma_footer_widget_area">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 enigma_footer_widget_column our-partners">
          <h3 class="enigma_footer_widget_title">Exclusively Distributed By
            <div id="" class="enigma-footer-separator"></div>
          </h3>
          <h6><img alt="henry" src="/public/img/covetrus.png" width="351"> </h6>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3 class="enigma_footer_widget_title">Save This Life
            <div id="" class="enigma-footer-separator"></div>
          </h3>
          <div class="logo-footer"><img alt="Save This Life" src="/public/img/logo_new1.png" style="border-radius: 20%;"></div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="enigma_footer_copyright_info"> <span>&copy; 2022 Google Inc. All rights reserved. Google&trade; search and Google Maps&trade; are registered trademarks of Google Inc.</span><br>
            &copy; 2022 Save This Life Inc. All rights reserved. Save This Life and Save This Life logo are registered trademarks of Save This Life, Inc.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="enigma_footer_area">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-5 pull-left footer_nav"><a href="/about-us">About us</a> | <a href="/contact-us">Contact us</a> | <a href="/frequently-asked-questions">FAQ</a> | <a href="/recents">Recents</a> | <a href="/sitemap_index.xml">Sitemap</a></div>
      </div>
    </div>
  </div>
  
  <!-- /Footer Widget Secton --> 
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/public/js/jquery-2.2.4.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/mainstl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.caroufredsel/6.2.1/jquery.carouFredSel.packed.js"></script>
<script data-cfasync="false">window.ju_num="7421E7F7-EC61-4A19-A2A8-FF4AB06C5065";window.asset_host='//cdn.jst.ai/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>

<script type="text/javascript">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"fdb98de0ebe3edca95b1338eb9db44db2ccd668da9bdc17227b97c07b01031d28f176d38db42806f55e7d8643fa19296", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");</script>