<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="google-site-verification" content="hh0-oNXfapQtKn0Rp6kVpWmVSePRU8-fD_UE99LJYaY" />
<meta name="google-site-verification" content="2myxUP2qC0eo6UEeC708kReTM8PWQQp-CUnmqrnKwQ8" />
<meta name="google-site-verification" content="PYjrdOHhHNT-dcycMgVcZEDTqp8PkFnz390_P3SCT6E" />
{{range .GoogleMeta}}
  <meta name="google-site-verification" content="{{.}}" />
{{end}}

<title>{{.Title}}</title>

<!-- Bootstrap -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/css/style.css" rel="stylesheet">
<link href="/public/css/font-awesome.min.css" rel="stylesheet">
<link href="/public/css/pure.css" rel="stylesheet">
<link href="/public/img/logo_new.ico" rel="shortcut icon">

<meta name="keywords" content="{{.KeyWords}} , Save This Life Microchip and Pet Recovery System">
<meta name="description" content="{{.Description}}">
<link rel="canonical" href="https://www.savethislife.com/{{.Canonical}}">

<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T5S3PV3');</script>
<!-- End Google Tag Manager -->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T5S3PV3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="wrapper"> 
  
  <!-- Header Section -->
  
  <div class="header_section">
    <div class="container"> 
      
      <!-- Logo & Contact Info -->
      
      <div class="row ">
        <div class="col-md-6 col-sm-12">
          <div class="logo"> <a rel="home" title="Save This Life Microchip and Pet Recovery System" href="/"> 
            <img style="border-radius: 20%; height:103px; width:120px;background-color: white; margin-top: 5px;" src="/public/img/logo_new1.png" alt="Save This Life"> </a>
            <h3>Save This Life Microchip and Pet Recovery System</h3>
            <p>The fastest pet recovery system in the world.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <ul class="head-contact-info"></ul>
          <a href="https://app.savethislife.com/app/login" class="login">Login</a>
          <div class="header-buttons">
            <div class="Regbutton"><a href="https://po.savethislife.com/signup">Register Microchip</a></div>
            <div class="Regbutton"><a href="https://po.savethislife.com/public-order-tag">Order ID Tag</a></div>
          </div>
        </div>
      </div>
      
      <!-- /Logo & Contact Info --> 
      
    </div>
  </div>
  
  <!-- /Header Section --> 
  
  <!-- Navigation  menus -->
  
  <div id="enigma_nav_top" data-offset-top="60" data-spy="affix" class="navigation_menu affix-top"> <span id="header_shadow"></span>
    <div class="container navbar-container">
      <nav role="navigation" class="navbar navbar-default ">
        <div class="navbar-header">
          <button data-target="#menu" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="collapse navbar-collapse " id="menu">
          <div class="menu-principal-container">
            <ul class="nav navbar-nav" id="menu-principal">
              <li class="active"><a href="/">Home</a></li>
              <li ><a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#">About Us <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/about-us">About Us</a></li>
                  <li ><a href="/about-us/package-info">Package info</a></li>
                </ul>
              </li>
              <li><a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#">Microchip <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://po.savethislife.com/signup">Register Microchip</a></li>
                  <li><a href="/pet-health-insurance">Pet Health Insurance</a></li>
                </ul>
              </li>
              <li><a href="/lost-found-pet">Lost / Found Pet</a></li>
              <!-- <li><a href="/why-did-you-savethislife">Why Did You Save This Life</a></li> -->
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/frequently-asked-questions">FAQ</a></li>
              <li ><a class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="#">Forms <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://zfrmz.com/lto2Yt676f3EOHBuJ9jL">Request Transfer Ownership To Me</a></li>
                  <li ><a href="https://zfrmz.com/hren7hz1jpXwEuMGUQHy">Request Transfer Ownership To A New Owner</a></li>
                  <li ><a href="https://po.savethislife.com/public-request-register-form">Online Pet Registration Form</a></li>
                  <li ><a href="https://desk.zoho.com/portal/savethislifeinc/en/kb/articles/registration-form">Download Save This Life Registration Form</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  
  <!-- /Navigation  menus -->
  <!-- <div class="alert alert-danger" style="font-size: large;">
    Save This Life phone number 855-777-2447 may be down few hours today for maintenance. 
    You can still view answers to frequently asked questions on <a href="/frequently-asked-questions" class="alert-link">this page</a>.
    Thank you for your patience.
  </div> -->

  <div class="alert alert-danger" style="font-size: large;">
    Due to coronavirus (COVID-19) safety precautions, we currently have limited customer service staffing so wait times may be longer. 
    You can still view answers to frequently asked questions on <a href="/frequently-asked-questions" class="alert-link">this page</a>.
    Thank you for your patience.
  </div>
