{{set . "Title" "Save This Life Microchip and Pet Recovery System | Save This Life"}}
{{set . "KeyWords" "Save This Pet Microchip, Pet Recovery Service, Pet Microchip Cost, Pet Microchip Companies, Save This Life Microchip, Pet Tracking Device, The Google Chip,Microchip For Dogs, Pet Microchip, Pet Id, Microchip For Cats, Pet Recovery Service, Savethislife, Savethislife Pet Recovery System, Savethislife Microchip, Microchip"}}
{{set . "Description" "Save This Life Microchip and Pet Recovery System is the only patented pet recovery system in the world.  One of the hottest selling products in Animal Heath to date. Register your pet's microchip here."}}
{{set . "Canonical" ""}}
{{template "header.html" .}}

<!-- Carousel -->
  <div data-interval="5000" data-pause="hover" data-ride="carousel" class="carousel slide" id="myCarousel">
    <ol class="carousel-indicators">
      <li class="" data-slide-to="0" data-target="#myCarousel" data-original-title="" title=""></li>
      <li data-slide-to="1" data-target="#myCarousel" data-original-title="" title="" class=""></li>
      <li data-slide-to="2" data-target="#myCarousel" data-original-title="" title="" class="active"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"> <img width="1400" height="470" alt="" class="attachment-home_slider_thumb size-home_slider_thumb wp-post-image" src="/public/img/can-you-google-pet.png" alt="Slider">
        <div class="container">
          <div class="carousel-caption">
            <div class="carousel-text">
              <ul class="list-unstyled carousel-list">
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="item"> <img width="1400" height="470" alt="" class="attachment-home_slider_thumb size-home_slider_thumb wp-post-image" src="/public/img/slider-bg-3.jpg" alt="Slider">
        <div class="container">
          <div class="carousel-caption">
            <div class="carousel-text">
              <h1 class="animated bounceInRight">Receive a Text &amp; Email Alert</h1>
              <ul class="list-unstyled carousel-list">
                <li class="animated bounceInLeft" data-original-title="" title="">and a GPS Map powered by Google Maps&trade; of Pet Finder's Location</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="item"> <img width="1400" height="470" alt="" class="attachment-home_slider_thumb size-home_slider_thumb wp-post-image" src="/public/img/slider-bg-424.png" alt="Slider">
        <div class="container">
          <div class="carousel-caption">
            <div class="carousel-text">
              <h1 class="animated bounceInRight">Microchip Numbers Found With A Quick Google&trade; Search</h1>
              <ul class="list-unstyled carousel-list">
              </ul>
            </div>
          </div>
        </div>
      </div>

      
    </div>
    <a data-slide="prev" href="#myCarousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a> <a data-slide="next" href="#myCarousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <div class="enigma_slider_shadow"></div>
  </div>
  <!-- /.carousel --> 
  <!-- service section -->
  <div class="enigma_service">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="enigma_heading_title">
            <h3>Our Services</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="isotope-service-container" class="row isotope" style="position: relative; overflow: hidden; min-height: 373px;">
        <div class="col-md-4 service isotope-item">
          <div class="enigma_service_area appear-animation bounceIn appear-animation-visible">
            <div class="enigma_service_iocn "> <i class="fa fa fa-search"></i> </div>
            <div class="enigma_service_detail media-body">
              <h3><a href="/lost-found-pet">Lost / Found Pet</a></h3>
              <p>Please call a live operator. They are available 24 hours a day, 7 days a week, 365 days a year. (855) 777-CHIP / (855) 777-2447.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 service isotope-item" >
          <div class="enigma_service_area appear-animation bounceIn appear-animation-visible">
            <div class="enigma_service_iocn "> <i class="fa fa fa-heartbeat"></i> </div>
            <div class="enigma_service_detail media-body">
              <h3><a href="/pet-health-insurance">Pet Health Insurance</a></h3>
              <p>Coverage for up to $1,000 in emergency care for accidents that may occur while your pet is lost with Lost Pet Medical Insurance.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 service isotope-item" >
          <div class="enigma_service_area appear-animation bounceIn appear-animation-visible">
            <div class="enigma_service_iocn "> <i class="fa fa-check-square-o"></i> </div>
            <div class="enigma_service_detail media-body">
              <h3><a href="https://po.savethislife.com/signup">REGISTER ANY BRAND OF MICROCHIP</a></h3>
              <p>Save This Life offers Lifetime Protection for your loved ones! Only $19.99 + S&amp;H</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Service section --><!-- Testimonial  section -->
  <div class="enigma_testimonial_area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="enigma_heading_title"> 
            <!--<h3>What Our Client Say</h3>--> 
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="testimonail_box" style="border-radius: 40px;">
        <div class="caroufredsel_wrapper" >
          <div id="enigma_testimonial_section" class="row  " style="height: 170px;">
            <div class="col-md-12 enigma_testimonial pull-left scrollimation scale-in d2" > <i class="fa fa-quote-left"></i>
              <p>We believe a microchip is more than just a series of numbers. It's about saving a life.</p>
              <h3></h3>
              <span>C. White, President &amp; CEO, Save This Life, Inc. </span> </div>
          </div>
        </div>
        <div class="row">
          <div class="pager testi-pager hidden" id="pager2" style="display: none;"><a href="#" class="selected"><span>1</span></a></div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Testimonial  section --><!-- portfolio section -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 "> 
        <!--<div class="google_work">
        <h1>Recover your lost pet <span>faster</span> than ever before</h1>
        <h2>using Save This Life's innovative recovery system!</h2>
<a href=" http://www.savethislife.com/shopping-microchip/" class="reg_btn">Register Today</a>
        <p>Only $19.99 + S&H</p>

      </div>--> 
        
      </div>
    </div>
  </div>
  
  <div class="enigma_project_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">
          <div class="enigma_heading_title">
            <h1>Watch the Recovery Video Below</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row HOWITWORK">
        <div class="col-sm-12" style="margin-bottom:30px;">
          <p>Save This Life has patented a way to use a Google&trade; search to help you find your lost pet!  When someone finds a pet and performs a Google&trade; search of the microchip number, they can then privately contact the pet owner via text and email. The pet owner receives a GPS map of where the person who found their pet is located!</p>
        </div>
        <div class="col-sm-6"> <img src="/public/img/one-two-three.png" class="step3 img-responsive" alt="3 steps"> </div>
        <div class="col-sm-6" style="text-align: center;">
          <video class="tab" controls style="height: 300px;width: 300px; background-color: black; border-radius: 20px;">Your browser does not support the &lt;video&gt; tag.
            <source src="/public/videos/stl-demo.mov"/>
          </video>
        </div>
      </div>
    </div>
  </div>
  <!-- /portfolio section --><!-- enigma Callout Section --> 
  <!-- enigma Callout Section -->
  <div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section --> 

{{template "footer.html" .}}

<!-- / Slider--><script>
  var caroufredsel = function () {  
   jQuery('#enigma_portfolio_section').carouFredSel({
      width: '100%',
      responsive: true,
       scroll : {
        items : 1,
        duration : 1000,
        timeoutDuration : 1000      },
      circular: true,
      direction: 'left',
      items: {
        height: 'variable',
        visible: {
          min: 1,
          max: 4        }
      },
      prev: '#port-prev',
      next: '#port-next',
      auto: {
        play: false
      }
    });
    
    jQuery('#enigma_blog_section').carouFredSel({
            width: '100%',
            responsive: true,
             scroll : {
              items : 1,
              duration : 2000,
              timeoutDuration : 2000            },
            circular: true,
            direction: 'left',
            items: {
              height: 'variable',
              visible: {
                min: 1,
                max: 3              },              
            },
            prev: '#port-prev1',
            next: '#port-next1',            
            auto: {
              play: true
            }
          });
       
        
        
         jQuery('#enigma_testimonial_section').carouFredSel({
            width: '100%',
            responsive: true,
             scroll : {
              items : 1,
              duration : 2000,
              timeoutDuration : 2000            },
            circular: true,
            direction: 'left',
            items: {
              height: 'variable',
              visible: {
                min: 1,
                max: 1              }
            },
            pagination: "#pager2",
            auto: {
              play: false
            }
          });
          
          // jQuery CarouFredSel  For Client
          jQuery('#enigma_client_section').carouFredSel({
            width: '100%',
            height: 'variable',
            responsive: true,
            scroll :1,
            circular: true,
            direction: 'left',
            items: {
              height: 'variable',
              visible: {
                min: 1,
                max:4             }
            },
            scroll: {
              duration : 2000,
              timeoutDuration : 2000,
            },            
            prev: '#client-prev',
            next: '#client-next',
            auto: {
              play: false
            }
          });
  }
  jQuery(window).resize(function () { caroufredsel(); });   
  jQuery(window).load(function () { caroufredsel(); });
</script>

</body>
</html>