{{set . "Title" "Package info | Save This Life Microchip and Pet Recovery System"}}
{{set . "KeyWords" "Package info"}}
{{set . "Description" "Save This Life is excited to provide the Fastest Pet Recovery System in the World, including:   134.2 kHz Universally Read 11784/11785 ISO-Compatible"}}
{{set . "Canonical" "about-us/package-info"}}
{{template "header.html" .}}
  <div class="enigma_header_breadcrum_title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Package info</h1>
          <!-- BreadCrumb -->
          <ul class="breadcrumb">
            <li data-original-title="" title=""><a href="/">Home</a></li>
            <li data-original-title="" title=""><a href="/about-us">About Save This Life</a></li>
            <li data-original-title="" title="">Package info</li>
          </ul>
          <!-- BreadCrumb --> 
        </div>
      </div>
    </div>
  </div>
  <section style="width:100%; float:left;">
    <div class="container">
      <div class="row enigma_blog_wrapper">
        <div class="col-md-10 full-width">
          <div class="enigma_blog_full">
            <div class="enigma_blog_post_content">
              <h3>Save This Life is excited to provide the Fastest Pet Recovery System in the World, including:</h3>
              <p>&nbsp;</p>
              <ul class="list1">
                <li data-original-title="" title="">134.2 kHz Universally Read 11784/11785 ISO-Compatible Microchips</li>
                <li data-original-title="" title="">Biothermal Glass Encapsulated with Parylene-C Anti-migration Coating</li>
                <li data-original-title="" title="">Readable by all Universal Scanners</li>
                <li data-original-title="" title="">Syringe Needle is Laser-Beveled for Maximum Sharpness, Minimizing Discomfort for the Pet</li>
                <li data-original-title="" title="">2-Finger Non-Slip Syringe allows for Easier Implantation</li>
                <li data-original-title="" title="">Lifetime Registration Included with each Microchip</li>
                <li data-original-title="" title="">Aluminum, ID Tags</li>
                <li data-original-title="" title="">$1000 in Lost Pet Health Insurance(US only)</li>
                <li data-original-title="" title="">Free Lost Pet Alerts and Lost Pet Posters Sent Out</li>
                <li data-original-title="" title="">Pet Owner Receives Online Log In to Update Contact Information and Pet's Photo for Lifetime</li>
                <li data-original-title="" title="">Microchip ID Numbers Searchable in Popular Search Engines like Google&trade;!</li>
                <li data-original-title="" title="">Text and Email sent to the pet owner with a GPS map powered by Google Maps&trade;.</li>
                <li data-original-title="" title="">Each Box Includes: 20 Microchips, Instructions to Register each Microchip, 20 Registration Forms and 20 Explanation Flyers to give to Pet Owners</li>
              </ul>
            </div>
          </div>
          <div class="push-right">
            <hr class="blog-sep header-sep">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section --> 
{{template "footer.html" .}}

</body>
</html>