{{set . "Title" "Privacy Policy | Save This Life"}}
{{set . "KeyWords" "Save This Life, Privacy, Policy"}}
{{set . "Description" "Save This Life Privacy Policy"}}
{{set . "Canonical" "privacy-policy"}}
{{template "header.html" .}}
  <div class="enigma_header_breadcrum_title">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Privacy Policy</h1>
          <!-- BreadCrumb -->
          <ul class="breadcrumb">
            <li data-original-title="" title=""><a href="/">Home</a></li>
            <li data-original-title="" title="">Privacy Policy</li>
          </ul>
          <!-- BreadCrumb --> 
        </div>
      </div>
    </div>
  </div>
  <section style="width:100%; float:left;">
    <div class="container">
      <div class="row enigma_blog_wrapper">
        <div class="col-md-10 full-width">
          <div class="enigma_blog_full">
            <div class="enigma_blog_post_content">
              <div class="pakginfo">
                <h1>Privacy Policy</h1>
                <div>
					<p style="text-align: left;">We take your privacy seriously, and we want you to know how we collect, use, share and protect your information.</p>
					<p style="text-align: left;">This Privacy Policy tells you:
					-What information we collect
					- How we use that information
					- How we may share that information
					- How we protect your information
					- Your choices regarding your personal information</p>
					<p style="text-align: left;">This Policy applies to Save This Life, Inc.</p>
					<p style="text-align: left;"><strong>Information We Collect</strong></p>
					<p style="text-align: left;">Information You Give Us We receive and may store any information you enter on our website or give to us. For example, we collect information from you when you place an order, create an account, call us with a question, write a review, or use any of our services.</p>
					<p style="text-align: left;">The information we collect from you includes things like:
					- Your name
					- Your mailing address
					- Your e-mail address
					- Your phone number
					- Your credit card number and other payment information
					- Demographic and lifestyle information, such as age, personal interests and product preferences</p>
					<p style="text-align: left;">It may also include information you give us about other people, such as the name and address of a gift recipient.</p>
					<p style="text-align: left;">Information From Other Sources We may also receive information about you from other sources, including third parties that help us update, expand and analyze our records and identify new customers</p>
					<p style="text-align: left;">Automatic Information Like many other websites, we also collect information through cookies and other automated means. Cookies are commonly used by websites to save data on your computer. The information we collect from cookies may include your IP address, browser and device characteristics, referring URLs, and a record of your interactions with our websites. We use cookies to create a more personalized shopping experience on our websites.</p>
					<p style="text-align: left;">One type of cookie may allow us to identify you as a particular Save This Life, Inc. customer when you visit our website and to link your activities on our website to your interactions with us. In combination with other information we collect, this cookie may facilitate the tailoring of advertisements and offers to you, sometimes in connection with interest-based advertising.</p>
					<p style="text-align: left;">To help us understand and enhance our interactions with visitors to our website, we may permit web analytics providers to collect information on our website using automated tools like cookies or web beacons. We also may share personal information with those providers. We may have similar arrangements with interest-based advertisers. Interest-based advertising is covered in more detail below.</p>
					<p style="text-align: left;">Public Forums Our Web site may offer publicly accessible blogs or community forums. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them.</p>
					<p style="text-align: left;"><strong>How We Use the Information We Collect</strong></p>
					<p style="text-align: left;">We use the information we collect for things like:
					- Helping to locate your lost pet
					- Fulfilling orders and requests for products, services or information
					- Processing returns
					- Tracking and confirming orders
					- Delivering products
					- Marketing and advertising products and services
					- Conducting research and analysis
					- Establishing and managing your accounts with us
					- Communicating things like special events, promotions and surveys
					- Processing credit applications
					- Identifying you on our website and tailoring advertisements and offers to you (both on our website and on other websites) based on your interactions with us
					- Facilitating interactions with us and others, such as enabling you to email a link to a friend
					- Operating, evaluating and improving our business</p>
					<p style="text-align: left;">Data Retention We will retain your information for as long as your account is active or as needed to provide you services, comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
					<p style="text-align: left;"><strong>How We Share the Information We Collect</strong></p>
					<p style="text-align: left;">Save This Life, Inc. does not sell, rent or trade your personal information to third parties.
					We may allow you to be contacted through email and/or SMS (for which standard SMS rates may apply) in connection with the location of your lost pet.</p>
					<p style="text-align: left;">We may share your information with third parties to perform services on our behalf such as:
					- Fulfilling orders
					- Delivering packages
					- Sending marketing communications
					- Conducting research and analysis
					- Processing credit card payments</p>
					<p style="text-align: left;">Sometimes we may be required to share personal information in response to a regulation, court order or subpoena. We may also share information when we believe it's necessary to comply with the law. We also may share information to respond to a government request or when we believe disclosure is necessary or appropriate to protect the rights, property or safety of Save This Life, Inc., our customers, or others; to prevent harm or loss; or in connection with an investigation of suspected or actual unlawful activity.</p>
					<p style="text-align: left;">We may also share personal information in the event of a corporate sale, merger, acquisition, dissolution or similar event.</p>
					<p style="text-align: left;"><strong>How We Protect the Information We Collect</strong></p>
					<p style="text-align: left;">We use reasonable security measures to protect the confidentiality of personal information under our control and appropriately limit access to it. We cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk.</p>
					<p style="text-align: left;">We use a variety of information security measures to protect your online transactions with us. Our site uses encryption technology, such as Secure Sockets Layer (SSL), to protect your personal information during data transport. SSL protects information you submit via our Web site such as ordering information including your name, address and credit card number. In the event your pet is found, this allows you to contacted through email and SMS without revealing your contact information to the party finding your pet.</p>
					<p style="text-align: left;"><strong>Your Choices Regarding the Information We Collect</strong></p>
					<p style="text-align: left;">You may choose to:
					- Stop receiving marketing or promotional e-mails, direct mail, phone and mobile marketing communications
					- Update and correct your personal information
					- Cancel your account or request that we no longer use your information to provide you services
					- Request removal of your personal information from our blog or community forum</p>
					<p style="text-align: left;">To do any of these, let us know by one of these methods:
					- Follow the directions in a marketing e-mail or direct mail or mobile communication that you receive from us.
					- Call 855-777-CHIP or 855-777-2447 with your request and current contact information.
					- Send an e-mail with your request and current contact information to admin@savethislife.com</p>
					<p style="text-align: left;"><strong>Interest-Based Advertising</strong></p>
					<p style="text-align: left;">We may use third-party advertising companies to display ads when you visit our website or other sites on the Internet. These companies may collect information about your visits to this and other websites. We may also share personal information with these companies. In either case, the purpose is to provide ads about products and services that may be of interest to you.</p>
					<p style="text-align: left;"><strong>Protecting Children's Privacy</strong></p>
					<p style="text-align: left;">We are committed to protecting children's privacy on the Internet and we do not knowingly collect personal information from children under the age of 13.</p>
					<p style="text-align: left;"><strong>Links to Other Websites</strong></p>
					<p style="text-align: left;">Our may website links to other websites, many of which have their own privacy policies. Be sure to review the privacy policy on the site you're visiting.</p>
					<p style="text-align: left;"><strong>Privacy Policy Updates</strong></p>
					<p style="text-align: left;">We may need to update our Privacy Policy as Save this Life, Inc. and our customers grow and evolve. If we make significant changes to the Privacy Policy, we'll post a prominent message on our website.</p>
					<p style="text-align: left;">Best Regards,
					Save This Life, Inc.
					www.SaveThisLife.com
					855-777-CHIP
					admin@savethislife.com</p>
					<p style="text-align: left;"><em>"A microchip is more than just a series of numbers. It's about saving a life."</em></p>
					&nbsp;
				</div>
			</div>
		  </div>
	    </div>

	      <div class="push-right">
	        <hr class="blog-sep header-sep">
	      </div>
	    </div>
	  </div>
	</div>
</section>
<div class="enigma_callout_area">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p><i class="fa fa-thumbs-up"></i>Save This Life</p>
        </div>
        <div class="col-md-3"> <a class="enigma_callout_btn" href="">The fastest pet recovery system in the world. </a> </div>
      </div>
    </div>
    <div class="enigma_callout_shadow"></div>
  </div>
  <!-- /enigma Callout Section --> 
{{template "footer.html" .}}

</body>
</html>